@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');
:root {
    --primary-color: #333333;
    --secondary-color: #787878a8;
    --white-color: #FFFFFF;
    --natural-color: #E6E6E6;
    --border-color: #c6c5c58a;

    --space--xxs: 4px;
    --space--xs: 8px;
    --space--sm: 16px;
    --space--md: 24px;
    --space--lg: 32px;
    --space--xl: 40px;
    --space--xxl: 48px;

    --radius-sm: 4px;
    --radius-md: 16px;
    --radius-lg: 24px;
    --radius-pill: 100px;
    --radius-round: 50%;

    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-lg: 20px;
    --font-head-1: 32px;
    --font-head-2: 28px;
    --font-head-3: 24px;
}
@media screen and (max-width: 430px) {
    :root {
        --font-size-sm: 12px;
        --font-size-base: 14px;
        --font-size-lg: 16px;
        --font-head-1: 28px;
        --font-head-2: 24px;
        --font-head-3: 20px;

        --space--xxs: 2px;
        --space--xs: 6px;
        --space--sm: 14px;
        --space--md: 22px;
        --space--lg: 30px;
        --space--xl: 38px;
        --space--xxl: 46px;
    }
}
@media screen and (max-width: 360px) {
    :root {
        --font-size-sm: 10px;
        --font-size-base: 12px;
        --font-size-lg: 14px;
        --font-head-1: 24px;
        --font-head-2: 22px;
        --font-head-3: 18px;

        --space--xxs: 1px;
        --space--xs: 5px;
        --space--sm: 13px;
        --space--md: 21px;
        --space--lg: 29px;
        --space--xl: 37px;
        --space--xxl: 45px;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 59px 8%;
    border-bottom: 1px solid var(--border-color);
}
section .section-content {
    min-height: 100%;
    width: 100%;
    padding: var(--space--xl) 0;
}
.title {
    font-size: var(--font-head-3);
    text-align: left;
    text-decoration: underline;
    font-weight: 600;
}
.btn {
    border: 0.1em solid transparent;
    outline: none;
    padding: var(--space--xxs) var(--space--sm);
    border-radius: var(--radius-pill);
    transition: all 0.3s ease;
    font-size: var(--font-size-sm);
}
.btn-primary {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: var(--white-color);
}
.btn-secondary {
    background: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.btn-secondary:hover {
    background: var(--primary-color);
    color: var(--white-color);
}
.btn-group {
    display: flex;
    align-items: center;
    gap: var(--space--xs);
}
.card {
    padding: var(--space--md);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-md);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
/* Navbar CSS Section */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    padding: 0 8%;
    background: var(--natural-color);
    border-bottom: 1px solid var(--border-color);
    z-index: 100;
}
nav .logo {
    font-size: var(--font-size-lg);
    color: var(--primary-color);
    font-weight: 600;
}
nav .nav-menu {
    display: flex;
    align-items: center;
    gap: var(--space--md);
}
nav i,
nav .nav-menu li:first-child {
    display: none;
    font-size: var(--font-size-lg);
}
nav .nav-menu .nav-item .nav-link {
    font-size: var(--font-size-base);
    color: var(--secondary-color);
    font-weight: 600;
    transition: color 0.3s ease;
}
nav .nav-menu .nav-item .nav-link:hover {
    color: var(--primary-color);
}
nav .nav-menu .nav-item .nav-link.active {
    color: var(--primary-color);
}
@media screen and (max-width: 680px) {
    nav i,
    nav .nav-menu li:first-child {
    display: block;
    }

    nav .nav-menu {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space--sm);
        background: var(--natural-color);
        padding: var(--space--lg);
        border-left: 1px solid var(--border-color);
        box-shadow:  -3px 0px 15px -5px rgba(0, 0, 0, 0.2);
        transition: right 0.2s ease-in-out;
    }

}

/* Home Section CSS */
.home-section {
    display: flex;
    align-items: center;
}
.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-content .text-group {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--space--sm);
}
.home-content .text-group h3 {
    font-size: var(--font-head-3);
    color: var(--primary-color);
}
.home-content .text-group p {
    text-align: justify;
    font-size: var(--font-size-base);
    line-height: 24px;
}
.home-content .img {
    width: 300px;
    height: 300px;
    border: 0.5rem solid var(--natural-color);
    border-radius: var(--radius-round);
    overflow: hidden;
}
.home-content .img img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-round);
    border: 0.3rem solid var(--secondary-color);
    object-fit: cover;
}
.home-content .text-group .btn-group a {
    display: flex;
    gap: var(--space--xs);
}
@media screen and (max-width: 850px) {
    .home-content {
        flex-direction: column;
        align-items: center;
        gap: var(--space--xl);
    }
    .home-content .text-group {
        width: 100%;
        text-align: center;
    }
    .home-content .text-group p {
        text-align: center;
    }
    .home-content .text-group .btn-group {
        margin: 0 auto;
    }
    .home-content .img {
        width: 250px;
        height: 250px;
    }

}
@media screen and (max-width: 360px) {
    .home-content .text-group .btn-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .home-content .img {
        width: 200px;
        height: 200px;
    }
}

/* Project Section CSS */
.project-menu {
    margin-top: var(--space--xl);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space--md);
}
.project-menu .project-card {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.project-menu .project-card .preview-img {
    width: 100%;
    height: 30%;
}
.project-menu .project-card .preview-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-card .p-info {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: var(--space--xxs);
}
.project-card .p-info .p-title {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--primary-color);
}
.project-card .p-info .p-lang {
    font-size: var(--btn-font-size);
    font-weight: 600;
    color: var(--secondary-color);
}
.project-card .p-info .p-desc {
    height: 200px;
    font-size: var(--font-size-base);
    overflow: auto;
    margin: var(--space--sm) 0;
    text-align: left;
}
@media screen  and (max-width: 780px) {
    .project-menu {
        grid-template-columns: 1fr;
    }
}

/* Laguages Section */
.languages-content .lang-menu {
    margin-top: var(--space--lg);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: var(--space--sm);
}
.lang-menu .card {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lang-menu .card img {
    width: 50%;
    height: 100%;
    object-fit: contain;
}
.lang-menu .card .card-name {
    width: 40%;
    text-align: left;
    font-size: var(--font-size-lg);
}
@media screen and (max-width: 320px) {
    .languages-content .lang-menu {
        grid-template-columns: 1fr;
    }
}

/* Contact Section */
section#contact-me {
    padding-bottom: 0;
}
.contact-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 59px);
}
.contact-content .contact-info {
    width: 90%;
    height: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space--xxs);
}
.contact-content .contact-info li {
    display: flex;
    gap: var(--space--xs);
    justify-content: center;
    font-size: var(--font-size-base);
    font-weight: 500;
}
.contact-content .contact-info li.social {
    margin-top: var(--space--xs);
    gap: var(--space--sm);
    align-items: center;
}
.contact-content .contact-info li.social .viber {
    background-color: #5f2382;
    color: #fff;
    padding: var(--space--xxs) var(--space--sm);
    border-radius: 6px;
    display: flex;
    gap: var(--space--xxs);
}
.contact-content .contact-info li.social .tele {
    color: #26a0de;
    font-size: var(--font-head-1);
}
.contact-content .contact-info li.social .fb {
    color: #1773ef;
    font-size: var(--font-head-1);
}
